@charset "UTF-8";
/* CSS Document */

#text-about {
	margin: auto;
	width: 610px;
}

#title-about {
	margin: auto;
	width: 610px;
}

.title-about {
	padding-top: 5%;
	margin: auto;
	width: 610px;
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 24px;
	line-height: 35px;
}

#video-about {
	margin: auto;
	width: 860px;
}

.text-about {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 100px;
}

.underline {
	border-bottom: 2px solid;
}
