@charset "UTF-8";
/* CSS Document */

#text-about {
	margin: auto;
	width: 610px;
}

#title-about {
	margin: auto;
	width: 610px;
}

.title-about {
	padding-top: 7%;
	margin: auto;
	margin-bottom: 4%;
}

#video-about {
	margin: auto;
	width: 860px;
}

.text-about {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8%;
	margin-bottom: 8%;
}

