@charset "UTF-8";
/* CSS Document */

#text-ficha {
	margin: auto;
	width: 610px;
}

#title-ficha {
	margin: auto;
	width: 610px;
}

.title-ficha {
	padding-top: 7%;
	margin: auto;
	height: 25px;
}

.text-ficha {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 4%;
	margin-bottom: 4%;
}

