@charset "UTF-8";
/* CSS Document */

#text-joana {
	margin: auto;
	width: 610px;
}

#title-joana {
	margin: auto;
	width: 610px;
}

.title-joana {
	padding-top: 7%;
	margin: auto;
	margin-bottom: 4%;
}

#video-joana {
	margin: auto;
	width: 860px;
}

.text-joana {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8%;
	margin-bottom: 8%;
}
