@charset "UTF-8";
/* CSS Document */

#text-francisca {
	margin: auto;
	width: 610px;
}

#title-francisca {
	margin: auto;
	width: 610px;
}

.title-francisca {
	padding-top: 7%;
	margin: auto;
	height: 25px;
}

#video-francisca {
	margin: auto;
	width: 860px;
}

.text-francisca {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8%;
	margin-bottom: 8%;
}