@charset "UTF-8";
/* CSS Document */

#text-bolsonaro {
	margin: auto;
	width: 610px;
}

#title-bolsonaro {
	margin: auto;
	width: 610px;
}

.title-bolsonaro {
	padding-top: 7%;
	margin: auto;
	margin-bottom: 4%;
}

.text-bolsonaro {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 6%;
	margin-bottom: 6%;
}

.underline {
	border-bottom: 2px solid;
}

#hover-bolsonaro-1 {
	margin: auto;
}

.hover-bolsonaro-1 {
	width: 860px;
	height: 485px;
	background: url(hover-bolsonaro-1.jpg) no-repeat;
}

.hover-bolsonaro-1:hover {
	width: 860px;
	height: 485px;
	background: url(hover-bolsonaro-1.gif) no-repeat;
}

#hover-bolsonaro-2 {
	margin: auto;
}

.hover-bolsonaro-2 {
	width: 860px;
	height: 485px;
	background: url(hover-bolsonaro-2.jpg) no-repeat;
}

.hover-bolsonaro-2:hover {
	width: 860px;
	height: 485px;
	background: url(hover-bolsonaro-2.gif) no-repeat;
}