@charset "UTF-8";
/* CSS Document */

#text-fasc7 {
	margin: auto;
	width: 610px;
}

#title-fasc7 {
	margin: auto;
	width: 610px;
}

.title-fasc7 {
	padding-top: 7%;
	margin: auto;
	height: 25px;
}

.text-fasc7 {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 4%;
	margin-bottom: 4%;
}

#hover-fasc7-1 {
	margin: auto;
}

.hover-fasc7-1 {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-pell.jpg) no-repeat;
}

.hover-fasc7-1:hover {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-pell.gif) no-repeat;
}

#hover-fasc7-2 {
	margin: auto;
}

.hover-fasc7-2 {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-bolsonaro.jpg) no-repeat;
}

.hover-fasc7-2:hover {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-bolsonaro.gif) no-repeat;
}

#hover-fasc7-3 {
	margin: auto;
}

.hover-fasc7-3 {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-abu.jpg) no-repeat;
}

.hover-fasc7-3:hover {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-abu.gif) no-repeat;
}

#hover-fasc7-4 {
	margin: auto;
}

.hover-fasc7-4 {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-may.jpg) no-repeat;
}

.hover-fasc7-4:hover {
	width: 860px;
	height: 485px;
	background: url(hover-discurso-may.gif) no-repeat;
}
