@charset "UTF-8";
/* CSS Document */

#text-fasc5 {
	margin: auto;
	width: 610px;
}

#title-fasc5 {
	margin: auto;
	width: 610px;
}

.title-fasc5 {
	padding-top: 7%;
	margin: auto;
	height: 25px;
}

.text-fasc5 {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 4%;
	margin-bottom: 4%;
}

#hover-fasc5-1 {
	margin: auto;
}

.hover-fasc5-1 {
	width: 860px;
	height: 485px;
	background: url(hover-sala-1.jpg) no-repeat;
}

.hover-fasc5-1:hover {
	width: 860px;
	height: 485px;
	background: url(hover-sala-1.gif) no-repeat;
}

#hover-fasc5-2 {
	margin: auto;
}

.hover-fasc5-2 {
	width: 860px;
	height: 485px;
	background: url(hover-sala-2.jpg) no-repeat;
}

.hover-fasc5-2:hover {
	width: 860px;
	height: 485px;
	background: url(hover-sala-2.gif) no-repeat;
}

#hover-fasc5-3 {
	margin: auto;
}

.hover-fasc5-3 {
	width: 860px;
	height: 485px;
	background: url(hover-sala-3.jpg) no-repeat;
}

.hover-fasc5-3:hover {
	width: 860px;
	height: 485px;
	background: url(hover-sala-3.gif) no-repeat;
}

#hover-fasc5-4 {
	margin: auto;
}

.hover-fasc5-4 {
	width: 860px;
	height: 485px;
	background: url(hover-sala-4.jpg) no-repeat;
}

.hover-fasc5-4:hover {
	width: 860px;
	height: 485px;
	background: url(hover-sala-4.gif) no-repeat;
}


.section-1 {
	position: relative;
}

.section-1:hover .overlay {
	opacity: 1;
}

.section-2 {
	position: relative;
}

.section-2:hover .overlay {
	opacity: 1;
}

.section-3 {
	position: relative;
}

.section-3:hover .overlay {
	opacity: 1;
}

.section-4 {
	position: relative;
}

.section-4:hover .overlay {
	opacity: 1;
}

.sections {
	float: left;
	padding: 8px;
	margin-left: 3px;
	margin-right: 3px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .6s ease;
	background-color: black;
	display: inline-block;
	cursor: pointer;
}

.text-overlay {
	color: white;
	font-size: 13.5px;
	line-height: 20px;
	position: absolute;
	font-family: 'Helvetica', sans-serif;
	top: 50%;
	left: 50%;
	width: 100px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#mother {
	width: 460px;
	height: 150px;
	margin-left: 34%;
}
