@charset "UTF-8";
/* CSS Document */

#text-pell {
	margin: auto;
	width: 610px;
}

#title-pell {
	margin: auto;
	width: 610px;
}

.title-pell {
	padding-top: 7%;
	margin: auto;
	margin-bottom: 4%;
}

.text-pell {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-top: 8%;
	margin-bottom: 8%;
}

.underline {
	border-bottom: 2px solid;
}

#hover-pell-1 {
	margin: auto;
}

.hover-pell-1 {
	width: 860px;
	height: 485px;
	background: url(hover-pell-1.jpg) no-repeat;
}

.hover-pell-1:hover {
	width: 860px;
	height: 485px;
	background: url(hover-pell-1.gif) no-repeat;
}

#hover-pell-2 {
	margin: auto;
}

.hover-pell-2 {
	width: 860px;
	height: 485px;
	background: url(hover-pell-2.jpg) no-repeat;
}

.hover-pell-2:hover {
	width: 860px;
	height: 485px;
	background: url(hover-pell-2.gif) no-repeat;
}